<%- include('template/_header') %>




<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">


        <h6 style="float: left;">Bienvenue , <p id="Aujourdhui"></p>
        </h6>

    </div>






    <div class="table-responsive">

    </div>
</main>

<%- include('template/_footer') %>