<link href="/css/cover.css" rel="stylesheet">
<link href="/css/signin.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->

</head>




<body class="d-flex h-100 text-center text-white bg-white">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        </header>

        <div class="container">
            <main class="form-signin">
                <form id="form" action="/login">
                    <img class="mb-4" src="/img/bootstrap-logo.svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal alert alert-dark">Private Chat Room</h1>

                    <div class="form-floating ">
                        <input id="login" type="text" class="form-control" id="floatingInput" placeholder="Login">
                        <label for="floatingInput">Login</label>
                    </div>
                    <div class="form-floating">
                        <input id="password" type="password" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit" id="valider">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy;2021</p>
                </form>
            </main>
        </div>


    </div>



</body>